h1 {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 60px;
}
.image-1,
.image-2,
.image-3,
.image-4 {
  transition: all 0.5s ease 0s;
}
.home-page-images {
  display: flex;
  flex-direction: column;
  width: 480px;
  gap: 100px;
}
.first-two-images{
  display: flex;
  border-radius: 8px;
  margin-left: 150px;
  align-items: center;
  gap: 100px;
  .image-1 {
    border-radius: 12px;
    width: 300px;
  }
  .image-2{
    border-radius: 12px;
    height: 220px;
  }
}
.second-two-images{
  display: flex;
  gap: 100px;
  margin-left: 150px;
  align-items: center;
  .image-3{
    border-radius: 12px;
    height: 220px;
  }
  .image-4{
    border-radius: 12px;
    width: 300px;
  }
}


@media (max-width: 991.98px) {
  .home-page-images {
    gap: 70px;
  }
  .first-two-images {
    display: flex;
    border-radius: 8px;
    margin-left: 25px;
    align-items: center;
    gap: 70px;
    .image-1 {
      width: 260px;
    }
    .image-2 {
      height: 210px;
    }
  }
  .second-two-images {
    display: flex;
    gap: 70px;
    margin-left: 25px;
    align-items: center;

    .image-3 {
      border-radius: 12px;
      height: 210px;
    }

    .image-4 {
      border-radius: 12px;
      width: 260px;
    }
  }
}

.image-1:hover, .image-2:hover,
.image-3:hover, .image-4:hover {
  box-shadow: 0 0 10px #333333;
  padding: 12px;
}
.image-1:hover, .image-4:hover {
  background-color: #a7d7d7;
}
.image-2:hover, .image-3:hover {
  background-color: #ecbd76;
}
