<h1>ВЕСЕННЯЯ КОЛЛЕКЦИЯ</h1>
<div class="home-page">
  <div class="home-page-images">
    <div class="first-two-images">
      <img src="https://i.pinimg.com/originals/39/a6/d8/39a6d87a6655b265603b857f0685a52a.jpg" alt="image" class="image-1">
      <img src="https://oozor.ru/images/detailed/220/ba5ae1a30fdd98e1a6c10ce3fe4a5c95.jpeg" alt="image" class="image-2">
    </div>
    <div class="second-two-images">
      <img src="https://get.pxhere.com/photo/orange-line-shop-store-red-color-fashion-hanging-clothing-shopping-room-outerwear-clothing-store-brand-customer-closet-sale-buy-department-clothes-consumerism-retail-shopper-consumer-hangers-purchase-spending-633917.jpg" alt="image" class="image-3">
      <img src="https://i.pinimg.com/736x/11/b3/58/11b3580de7c0285c4bee136f89565d86.jpg" alt="image" class="image-4">
    </div>
  </div>
</div>





