.dropdown-menu {
  margin: 0;
  padding: 0;
}
#hidden{
  display: none;
}
.dropdown-menu ul {
  list-style: none;
}
.first-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dropdown-menu a {
  display: block;
  padding: 5px 15px 5px 15px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 8px;
  margin: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.second-level-link {
  background-color: #ececec;
  color: #454547;
}
.third-level-link {
  background-color: #a67ef8;
  color: #ffffff;
}
.second-list {
  width: 100%;
}
.first-level-link:hover {
  background-color: #efe2fd;
  box-shadow: 0 0 5px #333333;
  transition: all 0.3s ease;
}
.second-level-link:hover {
  background-color: #efe2fd;
  box-shadow: 0 0 5px #333333;
  transition: all 0.3s ease;
}
.btn-show-ctg-products {
  padding: 5px;
  text-transform: none;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 3px;
  width: 100%;
  background-color: #333333;
  color: #ffffff;
}
.btn-show-ctg-products:hover {
  background-color: #626262;
  box-shadow: 0 0 5px #333333;
  transition: all 0.3s ease;
  cursor: pointer;
}
.dropdown-menu > ul li {
  position: relative;
}
.dropdown-menu li ul {
  position: absolute;
  min-width: 100px;
  display: none;
}
.dropdown-menu li:hover > ul {
  display: block;
}
.dropdown-menu li > ul li ul {
  position: absolute;
  right: -100px;
  top: 0;
}

.second-list {
  z-index: 1;
}
.price-li {
  display: flex;
  left: 120px;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  background-color: #ffffff;
  width: 220px;
  border: 1px solid #000000;
  border-radius: 8px;
  input {
    padding: 0;
    margin: 3px 0 3px 0;
    width: 65px;
    border-radius: 8px;
  }
  .btn-ok {
    height: 25px;
    width: 25px;
    padding: 0;
    align-self: center;
    cursor: pointer;
  }
}
.shorts{
  .price-li {
    left: -200px;
  }
}
@media (max-width: 991.98px) {
  .dropdown-menu .costumes > ul li ul {
    position: absolute;
    right: 116px;
    top: 0;
    .price-li {
      left: 0;
    }
  }
  .dropdown-menu .shirts > ul li ul {
    position: absolute;
    right: 113px;
    top: 0;
    .price-li {
      left: 333px;
    }
  }
  .dropdown-menu .shorts > ul li ul {
    position: absolute;
    right: 100px;
    top: 0;
    .price-li {
      left: 0;
    }
  }
}
.products-content {
  background-size: 1200px auto;
  margin-top: 20px;
  padding: 20px 20px 0 20px;
  border: 2px solid #000000;
  border-radius: 8px;
}
.product {
  display: flex;
  border: 2px solid #000000;
  background-color: #fffdf5;
  background-size: 800px auto;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 0 6px #333333;
}
.product-image {
  display: flex;
  align-self: center;
  width: 30%;
  border: 2px solid #000000;
  border-radius: 8px;
}
.product-elements{
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}
.product-title {
  margin: 0 0 15px 0;
}
.product-description {
  margin: 0 0 15px 0;
  font-size: 18px;
}
.navigation-elements {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.edit-element {
  align-self: flex-end;
}

.purchase-elements{
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}
.product-price {
  border: 2px solid black;
  font-size: 16px;
  width: 140px;
  line-height: 1.2;
  padding: 14px 20px;
  height: 50px;
  align-self: flex-end;
  text-align: center;
  background-color: #ffffff;
  font-weight: 700;
}
.btn-add-to-basket {
  margin-left: 30px;
  width: 150px;
}

.btn-make-purchase {
  display: inline-block;
  margin-top: 20px;
  float: right;
  background-color: #333333;
}
.amount-label {
  align-self: center;
  font-size: 18px;
  margin-right: 15px;
}
.amount-number {
  align-self: center;
  font-size: 18px;
  margin-right: 20px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
}
.btn-incr-decr {
  height: 52px;
  width: 50px;
  margin-right: 20px;
  align-self: center;
}
@media (max-width: 991.98px) {
  .btn-edit {
    height: 50px;
    width: 130px;
    align-self: flex-end;
    font-size: 10px;
    padding: 10px;
  }
  .amount-label {
    font-size: 14px;
  }
  .amount-number {
    font-size: 14px;
  }
  .btn-enter-amount {
    font-size: 10px;
    padding: 10px;
    width: 100px;
    margin-left: 0;
    margin-right: 10px;
  }
  .btn-add-to-basket {
    height: 50px;
    width: 100px;
    align-self: flex-end;
    font-size: 10px;
    padding: 10px;
    margin-left: 20px;
  }
  .product-price {
    width: 80px;
    height: 50px;
    font-size: 14px;
    padding: 16px 5px;
  }
}

.dropdown-menu-al {
  display: flex;
  flex-direction: row;
}

.popup-window-cntnr {
  top: 0;
  left: 0;
  overflow: auto;
}
.popup-window {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.popup-content {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 330px;
  padding: 20px 20px 10px 20px;
  border: 2px solid #000000;
  background-color: #fffdf5;
  border-radius: 8px;
}
.label-text {
  font-size: 16px;
}
.title-with-close-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-close {
  background-color: #fffdf5;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 6px 7px 5px 7px;
  transition: background-color 0.3s ease 0s;
}
.btn-close:hover {
  background-color: #ffd0d0;
}
.input-button {
  display: flex;
  input {
    width: 217px;
  }
  justify-content: space-between;
}
.btn-ok {
  height: 35px;
  width: 45px;
  padding: 0;
  align-self: center;
}

#prd-id{
  position: absolute;
  visibility: hidden;
}
#amount-number {
  width: 30px;
  margin-right: 20px;
}
