<div class="category-block">
  <div class="categories">
    <nav class="dropdown-menu">
      <ul class="first-list">
        <li><a href="#" class="first-level-link"><span class="first-level"></span>Верхняя одежда</a>
          <ul class="second-list">
            <li><a href="#" class="second-level-link">Размер</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">xs</button></li>
                <li><button class="btn btn-show-ctg-products">s</button></li>
                <li><button class="btn btn-show-ctg-products">m</button></li>
                <li><button class="btn btn-show-ctg-products">l</button></li>
                <li><button class="btn btn-show-ctg-products">xl</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Цвет</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">белый</button></li>
                <li><button class="btn btn-show-ctg-products">розовый</button></li>
                <li><button class="btn btn-show-ctg-products">черный</button></li>
                <li><button class="btn btn-show-ctg-products">синий</button></li>
                <li><button class="btn btn-show-ctg-products">серый</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Бренд</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">Gucci</button></li>
                <li><button class="btn btn-show-ctg-products">H&M</button></li>
                <li><button class="btn btn-show-ctg-products">Nike</button></li>
                <li><button class="btn btn-show-ctg-products">Burberry</button></li>
                <li><button class="btn btn-show-ctg-products">Lacoste</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Цена</a>
              <ul class="third-list">
                <li class="price-li">
                  <label>от</label><input type="number" step="1000"><label>до</label><input type="number" step="1000">
                  <button class="btn btn-ok">&#10004;</button>
                </li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Материал</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">Хлопок</button></li>
                <li><button class="btn btn-show-ctg-products">Шерсть</button></li>
                <li><button class="btn btn-show-ctg-products">Флис</button></li>
                <li><button class="btn btn-show-ctg-products">Лён</button></li>
                <li><button class="btn btn-show-ctg-products">Джинса</button></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#" class="first-level-link"><span class="first-level"></span>Нижняя одежда</a>
          <ul class="second-list">
            <li><a href="#" class="second-level-link">Размер</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">xs</button></li>
                <li><button class="btn btn-show-ctg-products">s</button></li>
                <li><button class="btn btn-show-ctg-products">m</button></li>
                <li><button class="btn btn-show-ctg-products">l</button></li>
                <li><button class="btn btn-show-ctg-products">xl</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Цвет</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">белый</button></li>
                <li><button class="btn btn-show-ctg-products">розовый</button></li>
                <li><button class="btn btn-show-ctg-products">черный</button></li>
                <li><button class="btn btn-show-ctg-products">синий</button></li>
                <li><button class="btn btn-show-ctg-products">серый</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Бренд</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">Gucci</button></li>
                <li><button class="btn btn-show-ctg-products">H&M</button></li>
                <li><button class="btn btn-show-ctg-products">Nike</button></li>
                <li><button class="btn btn-show-ctg-products">Burberry</button></li>
                <li><button class="btn btn-show-ctg-products">Lacoste</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Цена</a>
              <ul class="third-list">
                <li class="price-li">
                  <label>от</label><input type="number" step="1000"><label>до</label><input type="number" step="1000">
                  <button class="btn btn-ok">&#10004;</button>
                </li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Материал</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">Хлопок</button></li>
                <li><button class="btn btn-show-ctg-products">Шерсть</button></li>
                <li><button class="btn btn-show-ctg-products">Флис</button></li>
                <li><button class="btn btn-show-ctg-products">Лён</button></li>
                <li><button class="btn btn-show-ctg-products">Джинса</button></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#" class="first-level-link"><span class="first-level"></span>Спортивная одежда</a>
          <ul class="second-list">
            <li><a href="#" class="second-level-link">Размер</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">xs</button></li>
                <li><button class="btn btn-show-ctg-products">s</button></li>
                <li><button class="btn btn-show-ctg-products">m</button></li>
                <li><button class="btn btn-show-ctg-products">l</button></li>
                <li><button class="btn btn-show-ctg-products">xl</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Цвет</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">белый</button></li>
                <li><button class="btn btn-show-ctg-products">розовый</button></li>
                <li><button class="btn btn-show-ctg-products">черный</button></li>
                <li><button class="btn btn-show-ctg-products">синий</button></li>
                <li><button class="btn btn-show-ctg-products">серый</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Бренд</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">Gucci</button></li>
                <li><button class="btn btn-show-ctg-products">H&M</button></li>
                <li><button class="btn btn-show-ctg-products">Nike</button></li>
                <li><button class="btn btn-show-ctg-products">Burberry</button></li>
                <li><button class="btn btn-show-ctg-products">Lacoste</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Цена</a>
              <ul class="third-list">
                <li class="price-li">
                  <label>от</label><input type="number" step="1000"><label>до</label><input type="number" step="1000">
                  <button class="btn btn-ok">&#10004;</button>
                </li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Материал</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">Хлопок</button></li>
                <li><button class="btn btn-show-ctg-products">Шерсть</button></li>
                <li><button class="btn btn-show-ctg-products">Флис</button></li>
                <li><button class="btn btn-show-ctg-products">Лён</button></li>
                <li><button class="btn btn-show-ctg-products">Джинса</button></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="costumes"><a href="#" class="first-level-link"><span class="first-level"></span>Костюмы</a>
          <ul class="second-list">
            <li><a href="#" class="second-level-link">Размер</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">xs</button></li>
                <li><button class="btn btn-show-ctg-products">s</button></li>
                <li><button class="btn btn-show-ctg-products">m</button></li>
                <li><button class="btn btn-show-ctg-products">l</button></li>
                <li><button class="btn btn-show-ctg-products">xl</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Цвет</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">белый</button></li>
                <li><button class="btn btn-show-ctg-products">розовый</button></li>
                <li><button class="btn btn-show-ctg-products">черный</button></li>
                <li><button class="btn btn-show-ctg-products">синий</button></li>
                <li><button class="btn btn-show-ctg-products">серый</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Бренд</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">Gucci</button></li>
                <li><button class="btn btn-show-ctg-products">H&M</button></li>
                <li><button class="btn btn-show-ctg-products">Nike</button></li>
                <li><button class="btn btn-show-ctg-products">Burberry</button></li>
                <li><button class="btn btn-show-ctg-products">Lacoste</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Цена</a>
              <ul class="third-list">
                <li class="price-li">
                  <label>от</label><input type="number" step="1000"><label>до</label><input type="number" step="1000">
                  <button class="btn btn-ok">&#10004;</button>
                </li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Материал</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">Хлопок</button></li>
                <li><button class="btn btn-show-ctg-products">Шерсть</button></li>
                <li><button class="btn btn-show-ctg-products">Флис</button></li>
                <li><button class="btn btn-show-ctg-products">Лён</button></li>
                <li><button class="btn btn-show-ctg-products">Джинса</button></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="shirts"><a href="#" class="first-level-link"><span class="first-level"></span>Рубашки</a>
          <ul class="second-list">
            <li><a href="#" class="second-level-link">Размер</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">xs</button></li>
                <li><button class="btn btn-show-ctg-products">s</button></li>
                <li><button class="btn btn-show-ctg-products">m</button></li>
                <li><button class="btn btn-show-ctg-products">l</button></li>
                <li><button class="btn btn-show-ctg-products">xl</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Цвет</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">белый</button></li>
                <li><button class="btn btn-show-ctg-products">розовый</button></li>
                <li><button class="btn btn-show-ctg-products">черный</button></li>
                <li><button class="btn btn-show-ctg-products">синий</button></li>
                <li><button class="btn btn-show-ctg-products">серый</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Бренд</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">Gucci</button></li>
                <li><button class="btn btn-show-ctg-products">H&M</button></li>
                <li><button class="btn btn-show-ctg-products">Nike</button></li>
                <li><button class="btn btn-show-ctg-products">Burberry</button></li>
                <li><button class="btn btn-show-ctg-products">Lacoste</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Цена</a>
              <ul class="third-list">
                <li class="price-li">
                  <label>от</label><input type="number" step="1000"><label>до</label><input type="number" step="1000">
                  <button class="btn btn-ok">&#10004;</button>
                </li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Материал</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">Хлопок</button></li>
                <li><button class="btn btn-show-ctg-products">Шерсть</button></li>
                <li><button class="btn btn-show-ctg-products">Флис</button></li>
                <li><button class="btn btn-show-ctg-products">Лён</button></li>
                <li><button class="btn btn-show-ctg-products">Джинса</button></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#" class="first-level-link"><span class="first-level"></span>Футболки</a>
          <ul class="second-list">
            <li><a href="#" class="second-level-link">Размер</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">xs</button></li>
                <li><button class="btn btn-show-ctg-products">s</button></li>
                <li><button class="btn btn-show-ctg-products">m</button></li>
                <li><button class="btn btn-show-ctg-products">l</button></li>
                <li><button class="btn btn-show-ctg-products">xl</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Цвет</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">белый</button></li>
                <li><button class="btn btn-show-ctg-products">розовый</button></li>
                <li><button class="btn btn-show-ctg-products">черный</button></li>
                <li><button class="btn btn-show-ctg-products">синий</button></li>
                <li><button class="btn btn-show-ctg-products">серый</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Бренд</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">Gucci</button></li>
                <li><button class="btn btn-show-ctg-products">H&M</button></li>
                <li><button class="btn btn-show-ctg-products">Nike</button></li>
                <li><button class="btn btn-show-ctg-products">Burberry</button></li>
                <li><button class="btn btn-show-ctg-products">Lacoste</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Цена</a>
              <ul class="third-list">
                <li class="price-li">
                  <label>от</label><input type="number" step="1000"><label>до</label><input type="number" step="1000">
                  <button class="btn btn-ok">&#10004;</button>
                </li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Материал</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">Хлопок</button></li>
                <li><button class="btn btn-show-ctg-products">Шерсть</button></li>
                <li><button class="btn btn-show-ctg-products">Флис</button></li>
                <li><button class="btn btn-show-ctg-products">Лён</button></li>
                <li><button class="btn btn-show-ctg-products">Джинса</button></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="shorts"><a href="#" class="first-level-link"><span class="first-level"></span>Шорты</a>
          <ul class="second-list">
            <li><a href="#" class="second-level-link">Размер</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">xs</button></li>
                <li><button class="btn btn-show-ctg-products">s</button></li>
                <li><button class="btn btn-show-ctg-products">m</button></li>
                <li><button class="btn btn-show-ctg-products">l</button></li>
                <li><button class="btn btn-show-ctg-products">xl</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Цвет</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">белый</button></li>
                <li><button class="btn btn-show-ctg-products">розовый</button></li>
                <li><button class="btn btn-show-ctg-products">черный</button></li>
                <li><button class="btn btn-show-ctg-products">синий</button></li>
                <li><button class="btn btn-show-ctg-products">серый</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Бренд</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">Gucci</button></li>
                <li><button class="btn btn-show-ctg-products">H&M</button></li>
                <li><button class="btn btn-show-ctg-products">Nike</button></li>
                <li><button class="btn btn-show-ctg-products">Burberry</button></li>
                <li><button class="btn btn-show-ctg-products">Lacoste</button></li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Цена</a>
              <ul class="third-list">
                <li class="price-li">
                  <label>от</label><input type="number" step="1000"><label>до</label><input type="number" step="1000">
                  <button class="btn btn-ok">&#10004;</button>
                </li>
              </ul>
            </li>
            <li><a href="#" class="second-level-link">Материал</a>
              <ul class="third-list">
                <li><button class="btn btn-show-ctg-products">Хлопок</button></li>
                <li><button class="btn btn-show-ctg-products">Шерсть</button></li>
                <li><button class="btn btn-show-ctg-products">Флис</button></li>
                <li><button class="btn btn-show-ctg-products">Лён</button></li>
                <li><button class="btn btn-show-ctg-products">Джинса</button></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="products-content">
  <div  *ngFor="let p of productsService.products">
    <a [routerLink]="['/products', p.id]" class="product">
      <img [src]="p.image" alt="Картинка" class="product-image">
    <div class="product-elements">
      <h2 class="product-title">{{p.name}}</h2>
      <p class="product-description">{{p.description}}</p>
      <div class="navigation-elements">
        <div class="edit-element">
<!--          <button *ngIf="usersService.users[0].admin" [routerLink]="['/prod', p.id]" class="btn btn-edit">Редактировать</button>-->
        </div>
        <div class="purchase-elements">
<!--          <button (click)="onDecrementAmount()" class="btn btn-incr-decr">-</button>-->
<!--          <input id="prd-id" oninput value="1" disabled>-->
<!--          <p class="amount-number" >{{amount}}</p>-->
<!--          <button (click)="onIncrementAmount()" class="btn btn-incr-decr">+</button>-->
          <p class="product-price">{{p.cost}} Р</p>
<!--          <button  class="btn btn-add-to-basket" (click)="visible=true">Добавить в корозину</button>-->
        </div>
      </div>
    </div>
    </a>
  </div>
</div>

<button class="btn btn-make-purchase" (click)="goToBasket()">Перейти к оформлению заказа</button>

<div *ngIf="visible" class="popup-window-cntnr">
  <div class="popup-window">
    <div class="popup-content">
      <p class="label-text">Укажите количество товара</p>
      <div class="input-button">
        <input type="number" value="1" (input)="onInputAmount($event)" required>
        <button (click)="visible=false" class="btn btn-ok">&#10004;</button>
      </div>
    </div>
  </div>
</div>

<!--<form>-->
<!--  <p><select name="food">-->
<!--    <optgroup label="Верхняя одежда">-->
<!--      <option value="r1">Куртки</option>-->
<!--      <option value="r2">Пиджаки</option>-->
<!--      <option value="r3">Рубашки</option>-->
<!--      <option value="r3">Кофты</option>-->
<!--      <option value="r3">Футболки</option>-->
<!--    </optgroup>-->
<!--    <optgroup label="Нижняя одежда">-->
<!--      <option value="u1">Брюки</option>-->
<!--      <option value="u2">Спортивные штаны</option>-->
<!--      <option value="u3">Шорты</option>-->
<!--    </optgroup>-->
<!--  </select></p>-->
<!--  <p><input type="submit" value="Показать"></p>-->
<!--</form>-->

<!--<div class="category-block">-->
<!--  <div class="categories">-->
<!--    <nav class="dropdown-menu-al">-->
<!--      <div class="first-level-div">-->
<!--        <button data-path="one" class="btn btn-frst-lvl dropdown-toggle">Верхняя одежда</button>-->
<!--        <ul data-target="one" class="first-list-al">-->
<!--          <li><a class="first-level-link-al" href="">a</a></li>-->
<!--          <li><a class="first-level-link-al" href="">b</a></li>-->
<!--          <li><a class="first-level-link-al" href="">c</a></li>-->
<!--          <li><a class="first-level-link-al" href="">d</a></li>-->
<!--          <li><a class="first-level-link-al" href="">e</a></li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="first-level-div">-->
<!--        <button data-path="two" class="btn btn-frst-lvl dropdown-toggle">Верхняя одежда</button>-->
<!--        <ul data-target="two" class="first-list-al">-->
<!--          <li><a class="first-level-link-al" href="">a</a></li>-->
<!--          <li><a class="first-level-link-al" href="">b</a></li>-->
<!--          <li><a class="first-level-link-al" href="">c</a></li>-->
<!--          <li><a class="first-level-link-al" href="">d</a></li>-->
<!--          <li><a class="first-level-link-al" href="">e</a></li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="first-level-div">-->
<!--        <button data-path="three" class="btn btn-frst-lvl dropdown-toggle">Верхняя одежда</button>-->
<!--        <ul data-target="three" class="first-list-al">-->
<!--          <li><a class="first-level-link-al" href="">a</a></li>-->
<!--          <li><a class="first-level-link-al" href="">b</a></li>-->
<!--          <li><a class="first-level-link-al" href="">c</a></li>-->
<!--          <li><a class="first-level-link-al" href="">d</a></li>-->
<!--          <li><a class="first-level-link-al" href="">e</a></li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="first-level-div">-->
<!--        <button data-path="four" class="btn btn-frst-lvl dropdown-toggle">Верхняя одежда</button>-->
<!--        <ul data-target="four" class="first-list-al">-->
<!--          <li><a class="first-level-link-al" href="">a</a></li>-->
<!--          <li><a class="first-level-link-al" href="">b</a></li>-->
<!--          <li><a class="first-level-link-al" href="">c</a></li>-->
<!--          <li><a class="first-level-link-al" href="">d</a></li>-->
<!--          <li><a class="first-level-link-al" href="">e</a></li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="first-level-div">-->
<!--        <button data-path="five" class="btn btn-frst-lvl dropdown-toggle">Верхняя одежда</button>-->
<!--        <ul data-target="five" class="first-list-al">-->
<!--          <li><a class="first-level-link-al" href="">a</a></li>-->
<!--          <li><a class="first-level-link-al" href="">b</a></li>-->
<!--          <li><a class="first-level-link-al" href="">c</a></li>-->
<!--          <li><a class="first-level-link-al" href="">d</a></li>-->
<!--          <li><a class="first-level-link-al" href="">e</a></li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="first-level-div">-->
<!--        <button data-path="six" class="btn btn-frst-lvl dropdown-toggle">Верхняя одежда</button>-->
<!--        <ul data-target="six" class="first-list-al">-->
<!--          <li><a class="first-level-link-al" href="">a</a></li>-->
<!--          <li><a class="first-level-link-al" href="">b</a></li>-->
<!--          <li><a class="first-level-link-al" href="">c</a></li>-->
<!--          <li><a class="first-level-link-al" href="">d</a></li>-->
<!--          <li><a class="first-level-link-al" href="">e</a></li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="first-level-div">-->
<!--        <button data-path="seven" class="btn btn-frst-lvl dropdown-toggle">Верхняя одежда</button>-->
<!--        <ul data-target="seven" class="first-list-al">-->
<!--          <li><a class="first-level-link-al" href="">a</a></li>-->
<!--          <li><a class="first-level-link-al" href="">b</a></li>-->
<!--          <li><a class="first-level-link-al" href="">c</a></li>-->
<!--          <li><a class="first-level-link-al" href="">d</a></li>-->
<!--          <li><a class="first-level-link-al" href="">e</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </div>-->
<!--</div>-->
