<div class="products-content">
  <div class="product" *ngFor="let p of productsService.products">
      <img [src]="p.image" alt="Картинка" class="product-image">
    <div class="product-elements">
      <h2 class="product-title">{{p.name}}</h2>
      <p class="product-description">{{p.description}}</p>
      <div class="purchase-elements">
        <button *ngIf="usersService.users[0].admin" [routerLink]="['/products', p.id]" href="#" class="btn btn-edit">Редактировать</button>
        <p class="product-price">{{p.cost}} Р</p>
        <button href="#" class="btn btn-buy">Купить</button>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-make-purchase" (click)="goToBasket()">Перейти к оформлению заказа</button>
<!--<div class="product">-->
<!--  <img src="https://images.wbstatic.net/big/new/11810000/11815534-1.jpg" alt="Картинка" class="product-image">-->
<!--  <div class="product-elements">-->
<!--    <h3 class="product-title">Наименование</h3>-->
<!--    <p class="product-description">Текс — внесистемная единица линейной плотности. Текс равен линейной плотности такого однородного тела (волокна, нити и т. п.), масса которого равна 1 г, а длина — 1 км. Применяется в текстильной промышленности. В соответствии с «Положением о единицах величин, допускаемых к применению в Российской Федерации», текс допущен к использованию в качестве внесистемной единицы линейной плотности без ограничения срока действия допуска с областью применения «текстильная промышленность».</p>-->
<!--    <div class="purchase-elements">-->
<!--      <p class="product-price">Цена: 20000 Р</p>-->
<!--      <a href="#" class="btn btn-buy">Купить</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
