<div class="category-block">
  <div class="categories">
    <nav class="dropdown-menu">
      <ul class="first-list">
        <li><a class="first-level-link" (click)="showByCategory('Верхняя одежда')"><span class="first-level"></span>Верхняя одежда</a>
<!--          <ul class="second-list">-->
<!--            <li><a href="#" class="second-level-link">Размер</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">xs</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">s</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">m</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">l</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">xl</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Цвет</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">белый</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">розовый</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">черный</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">синий</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">серый</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Бренд</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">Gucci</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">H&M</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Nike</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Burberry</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Lacoste</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Цена</a>-->
<!--              <ul class="third-list">-->
<!--                <li class="price-li">-->
<!--                  <label>от</label><input type="number" step="1000"><label>до</label><input type="number" step="1000">-->
<!--                  <button class="btn btn-ok">&#10004;</button>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Материал</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">Хлопок</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Шерсть</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Флис</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Лён</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Джинса</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
        <li><a class="first-level-link" (click)="showByCategory('Нижняя одежда')"><span class="first-level"></span>Нижняя одежда</a>
<!--          <ul class="second-list">-->
<!--            <li><a href="#" class="second-level-link">Размер</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">xs</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">s</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">m</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">l</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">xl</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Цвет</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">белый</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">розовый</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">черный</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">синий</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">серый</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Бренд</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">Gucci</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">H&M</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Nike</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Burberry</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Lacoste</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Цена</a>-->
<!--              <ul class="third-list">-->
<!--                <li class="price-li">-->
<!--                  <label>от</label><input type="number" step="1000"><label>до</label><input type="number" step="1000">-->
<!--                  <button class="btn btn-ok">&#10004;</button>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Материал</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">Хлопок</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Шерсть</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Флис</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Лён</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Джинса</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
        <li><a class="first-level-link" (click)="showByCategory('Спортивная одежда')"><span class="first-level"></span>Спортивная одежда</a>
<!--          <ul class="second-list">-->
<!--            <li><a href="#" class="second-level-link">Размер</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">xs</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">s</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">m</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">l</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">xl</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Цвет</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">белый</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">розовый</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">черный</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">синий</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">серый</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Бренд</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">Gucci</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">H&M</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Nike</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Burberry</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Lacoste</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Цена</a>-->
<!--              <ul class="third-list">-->
<!--                <li class="price-li">-->
<!--                  <label>от</label><input type="number" step="1000"><label>до</label><input type="number" step="1000">-->
<!--                  <button class="btn btn-ok">&#10004;</button>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Материал</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">Хлопок</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Шерсть</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Флис</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Лён</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Джинса</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
        <li class="costumes"><a class="first-level-link" (click)="showByCategory('Костюмы')"><span class="first-level"></span>Костюмы</a>
<!--          <ul class="second-list">-->
<!--            <li><a href="#" class="second-level-link">Размер</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">xs</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">s</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">m</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">l</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">xl</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Цвет</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">белый</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">розовый</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">черный</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">синий</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">серый</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Бренд</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">Gucci</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">H&M</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Nike</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Burberry</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Lacoste</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Цена</a>-->
<!--              <ul class="third-list">-->
<!--                <li class="price-li">-->
<!--                  <label>от</label><input type="number" step="1000"><label>до</label><input type="number" step="1000">-->
<!--                  <button class="btn btn-ok">&#10004;</button>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Материал</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">Хлопок</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Шерсть</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Флис</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Лён</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Джинса</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
        <li class="shirts"><a class="first-level-link" (click)="showByCategory('Рубашки')"><span class="first-level"></span>Рубашки</a>
<!--          <ul class="second-list">-->
<!--            <li><a href="#" class="second-level-link">Размер</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">xs</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">s</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">m</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">l</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">xl</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Цвет</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">белый</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">розовый</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">черный</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">синий</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">серый</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Бренд</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">Gucci</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">H&M</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Nike</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Burberry</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Lacoste</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Цена</a>-->
<!--              <ul class="third-list">-->
<!--                <li class="price-li">-->
<!--                  <label>от</label><input type="number" step="1000"><label>до</label><input type="number" step="1000">-->
<!--                  <button class="btn btn-ok">&#10004;</button>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Материал</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">Хлопок</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Шерсть</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Флис</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Лён</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Джинса</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
        <li><a class="first-level-link" (click)="showByCategory('Футболки')"><span class="first-level"></span>Футболки</a>
<!--          <ul class="second-list">-->
<!--            <li><a href="#" class="second-level-link">Размер</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">xs</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">s</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">m</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">l</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">xl</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Цвет</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">белый</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">розовый</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">черный</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">синий</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">серый</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Бренд</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">Gucci</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">H&M</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Nike</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Burberry</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Lacoste</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Цена</a>-->
<!--              <ul class="third-list">-->
<!--                <li class="price-li">-->
<!--                  <label>от</label><input type="number" step="1000"><label>до</label><input type="number" step="1000">-->
<!--                  <button class="btn btn-ok">&#10004;</button>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Материал</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">Хлопок</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Шерсть</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Флис</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Лён</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Джинса</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
        <li class="shorts"><a class="first-level-link" (click)="showByCategory('Шорты')"><span class="first-level"></span>Шорты</a>
<!--          <ul class="second-list">-->
<!--            <li><a href="#" class="second-level-link">Размер</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">xs</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">s</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">m</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">l</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">xl</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Цвет</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">белый</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">розовый</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">черный</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">синий</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">серый</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Бренд</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">Gucci</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">H&M</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Nike</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Burberry</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Lacoste</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Цена</a>-->
<!--              <ul class="third-list">-->
<!--                <li class="price-li">-->
<!--                  <label>от</label><input type="number" step="1000"><label>до</label><input type="number" step="1000">-->
<!--                  <button class="btn btn-ok">&#10004;</button>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href="#" class="second-level-link">Материал</a>-->
<!--              <ul class="third-list">-->
<!--                <li><button class="btn btn-show-ctg-products">Хлопок</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Шерсть</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Флис</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Лён</button></li>-->
<!--                <li><button class="btn btn-show-ctg-products">Джинса</button></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
      </ul>
    </nav>
  </div>
</div>

<div class="products-content">
  <ul class="sort-list">
    <li><a class="btn sort-list-li">Отсортировать</a>
      <ul>
        <li><a class="btn btn-sort sort-link">Цена</a>
          <ul>
            <li><a class="btn btn-sort-2" (click)="sortByPrice('priceAsc')">Возрастание</a></li>
            <li><a class="btn btn-sort-2" (click)="sortByPrice('priceDesc')">Убывание</a></li>
          </ul>
        </li>
        <li><a class="btn btn-sort sort-link">Наименование</a>
          <ul>
            <li><a class="btn btn-sort-3" (click)="sortByName('nameAsc')">Возрастание</a></li>
            <li><a class="btn btn-sort-3" (click)="sortByName('nameDesc')">Убывание</a></li>
          </ul>
        </li>
        <li><a class="btn btn-sort sort-link">Количество</a>
          <ul>
            <li><a class="btn btn-sort-4" (click)="sortByQuantity('countAsc')">Возрастание</a></li>
            <li><a class="btn btn-sort-4" (click)="sortByQuantity('countDesc')">Убывание</a></li>
          </ul>
        </li>
        </ul>
    </li>
  </ul>
  <div  *ngFor="let p of products">

    <div class="product">
      <img src="data:image/jpeg;base64,{{p.image}}" alt="Картинка" class="product-image">
    <div class="product-elements">
      <h2 class="product-title">{{p.name}}</h2>
      <textarea class="product-description" disabled="disabled" style="overflow:hidden">{{p.description}}</textarea>
      <div class="navigation-elements">
        <div class="edit-element">
<!--          <button *ngIf="usersService.users[0].admin" [routerLink]="['/prod', p.id]" class="btn btn-edit">Редактировать</button>-->
        </div>
        <div class="purchase-elements">
          <p class="product-price">{{p.cost}} Р</p>
          <button *ngIf="!visible" class="btn btn-add-to-basket" (click)="visible=true; idL = p.id">Добавить в корозину</button>
          <div *ngIf="visible && p.id == idL" class="popup-window-cntnr">
            <div class="popup-window">
              <div class="popup-content">
                <div class="title-with-close-btn">
                  <p class="label-text">Укажите количество товара</p>
                  <button (click)="visible=false" class="btn-close">X</button>
                </div>
                <div class="input-button">
                  <input type="number" value="1" class="input-amount" (input)="onInputAmount($event)" required>
                  <button (click)="visible=false;addButton(p.id)" class="btn btn-ok">&#10004;</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<button class="btn btn-make-purchase" (click)="goToBasket()">Перейти в корзину</button>

