<div class="sign-in-form" *ngIf="!isAuthenticated; else loggedIn">
  <h1 class="form-header">Авторизация</h1>
  <h3 class="form-title">Введите логин и пароль</h3>
  <div class="input-group">
    <label>
      <input type="text" [(ngModel)]="username" class="form-control" placeholder="Логин" value=""/>
    </label>

    <label>
      <input type="password" [(ngModel)]="password" class="form-control" placeholder="Пароль" value=""/>
    </label>

    <input type="submit" class="btn btn-success" value="Подтвердить" (click)="onLoginClick()"/>
  </div>
</div>
<ng-template #loggedIn>
</ng-template>
