<div class="form-add">
  <label>
  <input
    type="file"
    class="input-file"
    placeholder="Картинка"
    [(ngModel)]="image"
  ><span class="btn-add-image btn">Добавить изображение</span></label>
  <input
    type="text"
    class="form-control"
    placeholder="Наименование"
    [(ngModel)]="name"
  >
  <input
    type="text"
    class="form-control"
    placeholder="Категория"
    [(ngModel)]="category"
  >
  <input
    type="text"
    class="form-control"
    placeholder="Описание"
    [(ngModel)]="description"
  >
  <input
    type="text"
    class="form-control"
    placeholder="Количество"
    [(ngModel)]="quantity"
  >
  <input
    type="text"
    class="form-control"
    placeholder="Цена"
    [(ngModel)]="cost"
  >

  <button class="btn" (click)="addProduct2()">Добавить товар</button>
</div>
