<h1>Корзина с выбранными товарами</h1>
<p ></p>
  <div *ngIf="!empty; else emptyBasket" class="products-content">
    <div class="product" *ngFor="let p of productsService.products">
      <img [src]="p.image" alt="Картинка" class="product-image">
      <div class="product-elements">
        <h2 class="product-title"><a [routerLink]="['/products', p.id]">{{p.name}}</a></h2>
        <p class="product-description">{{p.description}}</p>
        <div class="purchase-elements">
          <p class="product-price">{{p.cost}} Р</p>
        </div>
      </div>
    </div>
  </div>
<ng-template #emptyBasket>
  <div class="products-content">
    <div class="empty-basket">
      <p>Корзина пуста</p>
    </div>
  </div>
</ng-template>
<button class="btn btn-make-purchase" (click)="purchase()">Оплатить заказ</button>
