<h1>Корзина с выбранными товарами</h1>
<p ></p>
  <div *ngIf="!empty; else emptyBasket" class="products-content">
    <div class="product" *ngFor="let p of productsService.products">
      <img [src]="p.image" alt="Картинка" class="product-image">
      <div class="product-elements">
        <div class="name-with-button">
          <h2 class="product-title"><a [routerLink]="['/products', p.id]">{{p.name}}</a></h2>
          <button class="btn btn-delete-from-basket">Убрать из корзины</button>
        </div>
        <p class="product-description">{{p.description}}</p>
        <div class="purchase-elements">
          <div class="amount-element">
            <p class="amount-label">Количество</p>
            <p class="amount-number">{{amount}}</p>
          </div>
          <div class="vertical-text">
            <p class="product-price vertical-align"><strong>{{p.cost}} Р</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<ng-template #emptyBasket>
  <div class="products-content">
    <div class="empty-basket">
      <p>Корзина пуста</p>
    </div>
  </div>
</ng-template>
<button class="btn btn-make-purchase" (click)="purchase()">Оплатить заказ</button>
