<div *ngIf="registered==true" class="success-message">
  <h1>Вы успешно зарегистрированы</h1>
</div>
<div class="sign-up-form">
  <h1 class="form-header">Регистрация</h1>
  <h3 class="form-title">Введите логин и пароль</h3>
  <div class="input-group">
    <label>
      <input type="text" [(ngModel)]="username" class="form-control" placeholder="Логин" value=""/>
    </label>

    <label>
      <input type="text" [(ngModel)]="password" class="form-control" placeholder="Пароль" value=""/>
    </label>

    <label>
      <input type="text" [(ngModel)]="email" class="form-control" placeholder="Email" value=""/>
    </label>

    <ng-select class="role-selector" [(ngModel)]="selectedRole" placeholder="Выберите роль">
      <ng-option *ngFor="let role of roles" [value]="role.id">
        <div class="role">{{role.placeholder}}</div>
      </ng-option>

    </ng-select>

    <input type="submit" class="btn btn-outline-success mx-auto" value="Подтвердить" (click)="onRegisterClick()"/>
  </div>
</div>
