<div class="product">
  <img src="{{getProduct.image}}" alt="Картинка" class="product-image">
  <div class="product-elements">
    <h2 class="product-title">{{getProduct.name}}</h2>
    <p class="product-description">{{getProduct.description}}</p>
    <div class="price-add-bask">
      <p class="amount-label">Количество</p>
      <p class="amount-number">{{amount}}</p>
      <p class="product-price">{{getProduct.cost}} Р</p>
      <button class="btn btn-add-to-basket" (click)="visible=true">Добавить в корозину</button>
    </div>
  </div>
</div>

<div *ngIf="visible" class="popup-window-cntnr">
  <div class="popup-window">
    <div class="popup-content">
      <div class="title-with-close-btn">
        <p class="label-text">Укажите количество товара</p>
        <button (click)="visible=false" class="btn-close">X</button>
      </div>
      <div class="input-button">
        <input type="number" value="1" (input)="onInputAmount($event)" required>
        <button (click)="visible=false;addButton()" class="btn btn-ok">&#10004;</button>
      </div>
    </div>
  </div>
</div>
